<div class="row">
    <h1>Broker {{broker.url}}</h1>
    <p>Status: {{brokerStatus.statusText}}</p>
</div>
<div class="row">
    <table class="table">
        <tr>
            <th>Connection</th>
            <th>Client</th>
            <th>Client Host</th>
            <th>Connected</td>
        </tr>
        <tr ng-repeat-start="connection in connections">
            <td>{{connection.name}}</td>
            <td>{{connection.clientProperties.product}}</td>
            <td>{{connection.clientProperties.platform}}</td>
            <td>{{connection.connected}}</td>
        </tr>
        <tr ng-repeat="consumer in connection.consumers">
            <td>&nbsp;</td>
            <td><small>Consuming</small> {{consumer.queueName}}</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr ng-repeat-end />
    </table>
</div>

<div class="row">
    <table class="table">
        <tr>
            <th>#</th>
            <th>Event</th>
            <th>Time UTC</th>
        </tr>
        <tr ng-repeat="event in brokerEvents">
            <td>{{event.id}}</td>
            <td>{{event.description}}</td>
            <td>{{event.dateTimeUTC}}</td>
        </tr>
    </table>
</div>
