<div class="row">
    <h1>Web Hooks</h1>
</div>
<div class="row">
    <a href="#/webhook-add/" class="btn btn-default">Add New Web Hook</a>
</div>

<div class="row">
    <table class="table">
        <tr>
            <th>URL</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
        <tr ng-repeat="webhook in webhooks">
            <td>{{webhook.url}}</td>
            <td><button ng-click="test(webhook.id)" class="btn btn-default">test</button></td>
            <td><button ng-click="delete(webhook.id)" class="btn btn-default">delete</button></td>
        </tr>
    </table>
</div>
