<!DOCTYPE html>
<html lang="en" ng-app="queuespyApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>QueueSpy Console</title>

    <!-- Bootstrap -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">

    <style id="holderjs-style" type="text/css"></style>
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">QueueSpy</a>
        </div>

        <div class="navbar-collapse collapse">
          <div ng-controller="ProfileController">
            <ul class="nav navbar-nav navbar-right">
              <li ng-if="showLogin"><a href="#/login">Login</a></li>
              <li ng-if="!showLogin" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  {{email}}
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#/logout">Logout</a></li>
                  <li><a href="#/account">Account</a></li>
                </ul>
              </li>
              <li><a href="#">Help</a></li>
            </ul>
          </div>

          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">

        <div class="col-sm-4 col-md-3 sidebar" ng-controller="SidebarController">
          <ul class="nav-sidebar" frang-tree>
            <li frang-tree-repeat="link in links">
                <span class="icon"
                    ng-class="{collapsed: link.collapsed, expanded: !link.collapsed}"
                    ng-show="link.children && link.children.length > 0"
                    ng-click="link.collapsed = !link.collapsed"></span>
                <a href="{{link.href}}">{{link.label}}</a>
                <ul class="" ng-if="!link.collapsed && link.children && link.children.length > 0" frang-tree-insert-children="link.children">
                </ul>
            </li>
          </ul>
        </div>

        <div class="col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3 main">
          <!-- Main content area -->

          <div ng-view></div>

        </div>

      </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//getbootstrap.com/assets/js/docs.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular-route.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="js/graph-directives.js"></script>
    <script src="js/frang-tree-directives.js"></script>
    <script src="js/controllers.js"></script>
  </body>
</html>
