<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="queueSpyDb" connectionString="Server=127.0.0.1;Port=5432;User Id=queuespy;Password=queuespy;Database=queuespy" />
	</connectionStrings>
	<appSettings>
		<add key="RabbitMQ" value="host=localhost" />
		<add key="SecretKey" value="GQDstcKsx0NHjPOuXOYg5MbeJ1XT0uFiwDVvVBrk" />
	</appSettings>
</configuration>
